<section>
  <div class="page-header">
    <h1>Images</h1>
  </div>
  <div class="list-group" infinite-scroll="vm.getMore()">
    Filter: <select ng-change="vm.applyFilter()" ng-model="vm.filter">
      <option value="0" >0</option>
      <option value="more">1 or More</option>
    </select>
    <a ng-repeat="image in vm.images" href="#" class="list-group-item">
      <img alt={{::image.name}} ng-if="image.status == 'Active'" ng-src="/images{{::image.subfolder}}/{{::image.name}}">
      <img alt={{::image.name}} ng-if="image.status != 'Active'" ng-src="/archived{{::image.subfolder}}/{{::image.name}}">
      <small class="list-group-item-text">Sub folder: {{::image.subfolder}}</small>
      <small class="list-group-item-text">Points: {{image.points}}</small>
      <button ng-if="image.status == 'Active'" ng-click="vm.archive(image)">Delete</button>
    </a>
  </div>
</section>
